.flex-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  
.flex-child {
  flex: 1;
  border: 1px solid grey;
  padding: 20px;
}  
  
.flex-child:first-child {
  margin-right: 20px;
}
  
.alerts{
  color: red;
}
  
.reqdate{
  padding:10px;
}
  
.submit{
  float: right;
}

th{
  text-align: center;
}

td{
  vertical-align: middle;
  text-align: center;
}